---
import type { FileTree } from "../utils/filetree";

interface Props {
    filetree: FileTree;
    parent?: string;
}
const { filetree, parent } = Astro.props as Props;
const urlPattern = Astro.routePattern;

console.log(filetree);
console.log(Astro.url.pathname);

let ulProps = !parent ? { id: "filetree" } : {};

function getParent(file: string) {
    if (typeof parent === "undefined") {
        return file;
    }
    return `${parent}/${file}`;
}

function getLinkPath(file: string) {
    if (typeof parent === "undefined") {
        return `/legendarium/${file}`;
    }
    return `/legendarium/${parent}/${file}`;
}

const getArticleName = (file: string) => {
    return file.split('-').map(part => part.charAt(0).toUpperCase() + part.slice(1)).join(' ');
};

---

<ul {...ulProps}>
    {
        Array.from(filetree).map(([file, dir]) => (
            <>
                {dir instanceof Map ? (
                    <li>
                        <span class="opener">{getArticleName(file)}</span>
                        <Astro.self
                            filetree={dir}
                            parent={`${getParent(file)}`}
                        />
                    </li>
                ) : (
                    <li>
                        <a href={getLinkPath(file)}>{getArticleName(file)}</a>
                    </li>
                )}
            </>
        ))
    }
</ul>

<style lang="scss">
    ul > li {
        border-top: solid 1px var(--theme-dark);
        margin-top: 5px;
        padding-top: 5px;
    }

    ul > li:first-child {
        border-top: 0;
        margin-top: 0;
        padding-top: 0;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            span.opener.active + ul {
                display: block;
            }
            .opener {
                color: var(--theme-text-primary);
            }
            a {
                text-decoration: none;
                color: var(--theme-accent);
            }
            ul {
                display: none;
            }
        }
    }
</style>
