---
import {
    render,
    type InferEntrySchema,
    type RenderedContent,
} from "astro:content";

interface Props {
    post: {
        id: string;
        body?: string;
        collection: "legendarium";
        data: InferEntrySchema<"legendarium">;
        rendered?: RenderedContent;
        filePath?: string;
    };
    index: number;
}
const { post, index } = Astro.props as Props;
const { Content } = await render(post);

const getFirstImage = () => {
    const match = post.rendered?.html.match(/<img[^>]*>/i);
    return match ? match[0] : null;
};

const getPostName = () => {
    const postNameSplit = post.id.split("/");
    return postNameSplit[postNameSplit.length - 1]
        .split("-")
        .map((part) => part.charAt(0).toUpperCase() + part.slice(1))
        .join(" ");
};
---

<article class="mini-post">
    <h3>{getPostName()}</h3>
    <Fragment set:html={getFirstImage()} />
    <div class="content"><Content /></div>
    <div class="mini-bar">
        <mini-post-date class="mini-post-date" data-date={post.data.created}>
            <span class="date"></span>
        </mini-post-date>
        <a class="button" href={"/legendarium/" + post.id}><span class="material-symbols-outlined">read_more</span>Read more</a>
    </div>
</article>

<script>
    class MiniPostDate extends HTMLElement {
        connectedCallback() {
            const date = new Date(this.dataset.date as string);
            const span = this.querySelector('.date');

            if (span) {
                span.innerHTML = this.getPostDate(date);
            }
        }

        getPostDate(date: Date): string {
            const now = new Date();
            const diffInSeconds = Math.floor(
                (now.getTime() - date.getTime()) / 1000,
            );

            if (diffInSeconds < 60) {
                return 'less than a minute ago';
            } else if (diffInSeconds < 300) {
                // 5 minutes = 300 seconds
                return 'a few minutes ago';
            } else if (diffInSeconds < 3600) {
                // 1 hour = 3600 seconds
                const minutes = Math.floor(diffInSeconds / 60);
                return `${minutes} minute${minutes > 1 ? 's' : ''} ago`;
            } else if (diffInSeconds < 86400) {
                // 24 hours = 86400 seconds
                const hours = Math.floor(diffInSeconds / 3600);
                return `${hours} hour${hours > 1 ? '' : ''} ago`;
            } else if (diffInSeconds < 172800) {
                // 48 hours = 172800 seconds
                const time = date.toLocaleTimeString([], { timeStyle: 'short' });
                return `Yesterday at ${time}`;
            } else {
                return `${date.toLocaleDateString([], { dateStyle: 'medium' })}`;
            }
        }
    }

    customElements.define('mini-post-date', MiniPostDate);
</script>

<style lang="scss">
    h3 {
        padding-bottom: 15px;
    }

    .mini-post {
        border: solid 1px var(--theme-surface-30);
        border-radius: 10px;
        padding: 10px;
        margin-top: 15px;
        background-color: var(--theme-surface-0);

        a {
            text-decoration: none;
            display: flex;
            border: solid 1px var(--theme-surface-30);
            border-radius: 7px;
            padding: 3px;
        }
    }

    .content {
        max-height: 100px;
        overflow-y: hidden;
        mask-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 1) 75%,
            rgba(255, 255, 255, 0)
        );
    }

    .mini-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding-top: 10px;
    }

    .mini-post-date {
        display: flex;
        align-items: center;
    }

    .date {
        font-weight: 600;
    }
</style>
